<div class="card text-center" width="540px">
  <div class="card-header bg-secondary text-light">
   <h1>{{produit.nom}}</h1>
  </div>
  <div class="card-body">
    <img [src]="produit.photo" alt="img" width="350px">
    <h5 class="card-title">description</h5>
    <p class="card-text">{{produit.description}}</p>

  </div>
  <div class="card-footer text-body-secondary">
    <h5 class="card-title">disponibile dans </h5>
    <p class="card-text">
      @for (item of produit.disponibilite; track $index) {
        {{item}}<br>
      }
      </p>
  </div>
  <div class="card-footer text-body-secondary">
    <h5 class="card-title">
      <p class="card-title" [ngClass]="{
        'c2': produit.enStock,
        'c1': !produit.enStock,
      }">
        @if(produit.enStock){
          en Stock
        }
        @else {
          Rupture de stock
        }
  </p>
    </h5>

  </div>
  <div class="card-footer text-body-secondary">
    <h5 class="card-title">fabricant</h5>
    <p class="card-title">{{produit.fabricant}}</p>
  </div>
  <div class="card-footer text-body-secondary">
    <h5 class="card-title">prix</h5>
    <p class="card-title">{{produit.prix}}</p>
  </div>

  <div class="card-footer text-body-secondary">

    <h5 class="card-title">garantie
    </h5>
    {{produit.garantie}}
  </div>

<div class="card-footer text-body-secondary">
  <button class="btn btn-outline-success" (click)="ajouterPanier(produit)" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
      <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z"/>
      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
    </svg>
    ajouter au panier</button>
</div>
